@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.main{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main div{
    width:100%;
}
.ab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em 10vw;
    gap:1em; 
    position: absolute;
    top:2em;

}
.top{
    min-height: 40vh;
    background-image: url('./images/pattern-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1em 10vw;
    gap:1em;
}
h1{
    color:white;
}
input{
    width:300px;
    height:45px;
    border-radius: 10px 0 0 10px;
    padding:0 1em;
    outline: none;
    border: none;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.submit{
    height:45px;
    width:45px;
    background-color: black;
    border: none;

    border-radius: 0 10px 10px 0;

    
    /* margin-left: -10px; */
}
#mapid { min-height:60vh;z-index: -1;}
.info{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 1em;
    padding:2em;
    
}
table{
    width: 100%;
    /* table-layout: fixed ; */
  /* width: 100% ; */
}
p{
    color:hsl(0, 0%, 59%);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    text-align: left;
    
}
.info th{
    color:hsl(0, 0%, 59%);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 500;
    text-align: left;
    width: 25%;
    
}
td{
    width: 25%;
}
span{
    color:hsl(0, 0%, 17%);
}
.info div{

    width: 25%;
    padding:.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1em;
    align-items: flex-start;
    position: relative;
    /* background-color: teal; */
}

.info div:nth-child(1)::before{
    width:0;
}
span{
    font-size: 1.2rem;
    font-weight: 700;
}
    
.leaflet-control-zoom,
.leaflet-control{
    display: none;
}
.info .mob{
    display: none;
}

@media screen and (max-width:600px){
    
    
    .info .mob{
        display: block;
    }
    table{
        display: none;
        background-color: blueviolet;
    }
    
    .mob{
        width:100%;
        flex: 1;
        
        /* background-color: black; */
    }
    .info{
        padding: 1em;
    }
    .mob div{
        /* background-color: aqua; */
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* display: none; */
    }
    p,span{
        text-align: center;
        
        /* background-color: blueviolet; */
    }
    p{
        font-size: .7rem;
    }
    span{
        font-size:1rem;
    }
    .top{
        min-height: 40vh;
    }
    #mapid { min-height:60vh;z-index: -1;}

   

}